.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  gap: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  max-width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 32px;
  line-height: 1;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: 0%;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-button {
  margin-top: auto;
  width: 84px;
  height: 52px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1;
  width: fit-content;
  background-color: #fcf5e5;
  border-style: none;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  display: flex;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  background: rgba(33, 33, 33, 0.7);
}

.profile__add-button-icon {
  gap: 8px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    margin: 0 20px 0;
    flex-direction: column;
    max-width: 288px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 12px 0 0;
    align-self: center;
  }

  .profile__add-button {
    margin: 0;
    align-self: center;
    gap: 8px;
  }
}
